:root {
    --color-text-primary: #fff;
    --color-text-secondary: #303030;
    --color-details: #303030;
    --details-bg: rgba(255, 255, 255, 0.75);
    --filter: 2.5483875rem;
    --main-bg: url(/assets/mobile/bg-image-daytime.jpg);
    --bg-gray: #999999;
    --line-height-sm: 1.375rem;
    --text-size-quote: 0.75rem;
    --text-size-welcome: .9375rem;
    /*--text-size-time: 6.25rem;*/
    --text-size-time: 5.25rem;
    --text-sz-tz: .9375rem;
    --text-size-location: .9375rem;
    --text-size-more: .75rem;
    --text-size-dt: .625rem;
    --text-size-dd: 1.25;
    --daytime-text: #fff;
    --text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    --space-sm: 0.75rem;
    --space-md: 1.625rem;
    --space-lg: 3rem;
}

:root[data-theme="evening"] {
    --color-text-primary: #fff;
    --color-text-secondary: #303030;
    --color-details: #fff;
    --details-bg: rgba(0, 0, 0, 0.75);
    --filter: 2.54rem;
    --main-bg: url(/assets/mobile/bg-image-nighttime.jpg);
}


@media (min-width: 600px) {
    :root[data-theme="evening"] {
        --main-bg: url(/assets/tablet/bg-image-nighttime.jpg);
    }

    :root {
        --line-height-sm: 1.75rem;
        --main-bg: url(/assets/tablet/bg-image-daytime.jpg);
        --text-size-quote: 1.125rem;
        --text-size-welcome: 1.125rem;
        --text-size-time: 10.9375rem;
        --text-sz-tz: 2rem;
        --text-size-location: 1.125rem;
        --text-size-more: 1rem;
        --text-size-dt: .8125rem;
        --text-size-dd: 2.5rem;
    }
}

@media (min-width: 980px) {
    :root[data-theme="evening"] {
        --main-bg: url(/assets/desktop/bg-image-nighttime.jpg);
    }

    :root {
        --main-bg: url(/assets/desktop/bg-image-daytime.jpg);
        --text-size-welcome: 1.25rem;
        --text-size-time: 12.5rem;
        --text-sz-tz: 2.5rem;
        --text-size-location: 1.5rem;
        --text-size-dt: .9375rem;
        --text-size-dd: 3.5rem;
    }
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--main-bg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    position: relative;
}

body.show-more {
    overflow: hidden;
}

body.show-more .more__arrow {
    background-image: url("/assets/desktop/icon-arrow-up.svg");
}

body.show-more .heading {
    max-height: 0;
    transform: translateY(-110px);
}

body.show-more footer {
    max-height: 373px;
    /*transform: translateY(-40%);*/
    /*transform: translateY(-20%);*/
}

body.show-more .display {
    transform: translateY(-100px);
}

main {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: var(--space-md);
}

.heading {
    max-height: 250px;
    overflow: hidden;
    transition: transform 200ms, max-height 300ms ease-in-out;
}

.heading .attribution {
    font-size: var(--text-size-quote);
    font-weight: bold;
    margin-top: .5rem;
}

.quote p {
    align-items: flex-start;
    display: flex;
    line-height: var(--line-height-sm);
    font-size: var(--text-size-quote);
    gap: 1rem;
    max-width: 33.75rem;
    text-shadow: var(--text-shadow);
}

.fade-out {
    animation: fadeOut 300ms ease-out;
}

.fade-in {
    animation: fadeIn 300ms ease-in;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.refresh {
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.refresh:disabled {
    cursor: not-allowed;
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.display {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-right: 2rem;
    text-transform: uppercase;
    transition: transform 300ms ease-in-out;
}

.display h1 {
    align-items: center;
    display: flex;
    font-size: var(--text-size-welcome);
    font-weight: 400;
    gap: var(--space-sm);
    letter-spacing: 3px;
    transform: translateY(20px);
    text-shadow: var(--text-shadow);
}

.time {
    display: flex;
    align-items: baseline;
    font-size: var(--text-size-time);
    gap: 0.8125rem;
}

.time span:first-child {
    letter-spacing: -2.5px;
}

.time .text-light {
    display: block;
    font-weight: 300;
    font-size: var(--text-sz-tz);
    overflow-x: hidden;
    max-width: 155px;
}

.more {
    align-items: center;
    background: white;
    border: none;
    border-radius: 28px;
    color: var(--color-text-secondary);
    display: flex;
    font-size: var(--text-size-more);
    font-weight: 700;
    gap: var(--space-sm);
    margin-bottom: 2.5rem;
    margin-top: 3rem;
    padding: 3px 3px 3px 1rem;
    text-transform: inherit;
}

.more__label {
    letter-spacing: .234375rem;
    opacity: 0.5;
}

.more__arrow {
    display: flex;
    background-color: var(--color-text-secondary);
    background-image: url("/assets/desktop/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 100%;
    color: var(--color-text-secondary);
    height: 2rem;
    width: 2rem;
    padding: var(--space-sm);
    transition: background-color 300ms ease-in-out;
}

@media (hover) {
    .more:hover {
        text-shadow: var(--text-shadow);
    }

    .more:hover > .more__arrow {
        background-color: var(--bg-gray);
    }

    body.show-more .more:hover .more__arrow {
        background-color: var(--bg-gray);
    }

}

footer {
    position: sticky;
    background: var(--details-bg);
    backdrop-filter: blur(var(--filter));
    -webkit-backdrop-filter: blur(var(--filter));
    flex-shrink: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}


h3 {
    font-size: var(--text-size-location);
}

.blink {
    animation: blink 2s infinite;
    position: relative;
    bottom: 5px;
}

@keyframes blink {
    0% {
        opacity: 0.5
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0.5
    }
}

.details {
    align-items: center;
    color: var(--color-details);
    display: grid;
    grid-row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1100px;
    padding: 48px 26px;
}

.details dt {
    font-size: var(--text-size-dt);
    grid-column: 1;
    opacity: 0.5;
    text-align: left;
    text-transform: uppercase;
}

.details dd {
    font-size: var(--text-size-dd);
    font-weight: 700;
    grid-column: 2;
    text-align: right;
}

.time-icon {
    background-image: url("/assets/desktop/icon-sun.svg");
    height: 24px;
    width: 23px;
}

html[data-theme="evening"] .time-icon {
    background-image: url("/assets/desktop/icon-moon.svg");
}

.uppercase {
    text-transform: uppercase;
}

.text-light {
    opacity: 0.8;
}

.expanded {
    display: none;
}

@media (min-width: 600px) {
    .details {
        grid-template-rows: min-content 1fr min-content 1fr;
        grid-row-gap: 0;
        grid-column-gap: 5rem;
        justify-content: center;
        justify-items: flex-start;
        padding: 4rem;
    }

    .details dd {
        margin-bottom: 1rem;
    }

    .details dt:first-child {
        grid-row: 1;
        grid-column: 1;
    }

    .details dd:first-of-type {
        grid-row: 2;
        grid-column: 1;
    }

    .details dt:nth-of-type(2) {
        grid-column: 1;
        grid-row: 3;
    }

    .details dd:nth-of-type(2) {
        grid-column: 1;
        grid-row: 4;
    }

    .details dt:nth-of-type(3) {
        grid-column: 2;
        grid-row: 1;
    }

    .details dd:nth-of-type(3) {
        grid-column: 2;
        grid-row: 2;
    }

    .details dt:last-of-type {
        grid-row: 3;
        grid-column: 2;
    }

    .details dd:last-child {
        grid-row: 4;
        grid-column: 2;
    }

    .blink {
        bottom: 15px;
    }

    .welcome {
        display: none;
    }

    .welcome.expanded {
        display: inline-block;
    }
}

@media (min-width: 1100px) {
    body.show-more footer {
        max-height: 373px;
        /*transform: translateY(-40%);*/
        /*transform: translateY(-20%);*/
    }

    main {
        padding-top: 2.875rem;
    }

    main, .details {
        padding-left: 165px;
    }

    .display {
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: min-content 1fr min-content;
        grid-template-columns: repeat(2, 1fr);
        place-items: flex-start;
    }

    .display h1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .time {
        grid-row: 2 / 1;
        grid-column: 1 / 2;
    }

    .display h3 {
        grid-column: 1 / 1;
        grid-row: 3;
    }

    .more {
        grid-row: 3;
        grid-column: 2;
        margin-top: 0;
        margin-left: auto;
        margin-right: 165px;
    }

    .details:after {
        background-color: var(--color-text-secondary);
        content: '';
        height: 252px;
        left: 735px;
        opacity: 0.5;
        width: 1px;
        position: absolute;
    }
}